<div class="projects">
  <div class="projects-type">
    <img src="../assets/icon-1.png">
    <span>PLANUOJAMI PROJECTAI</span>
  </div>
  <div class="projects-count"><span>3</span></div>
  <div class="projects-type">
    <img src="../assets/icon-2.png">
    <span>VYKDOMI PROJECTAI</span>
  </div>
  <div class="projects-count"><span>15</span></div>
  <div class="projects-type">
    <img src="../assets/icon-3.png">
    <span>UZDARYTI PROJECTAI</span>
  </div>
  <div class="projects-count"><span>9</span></div>
</div>
